<h2>Sneaker list</h2>

<% @sneaker.each do |sneaker| %>
    <%= "#{sneaker.brand}"%>
    <p><%= link_to sneaker.model, sneaker_path(sneaker.id)%></p>
    <p><%= image_tag sneaker.picture, width:150, height:120 if sneaker.picture.attached?%></p>
    <p><%= number_to_currency sneaker.price, size: "#{sneaker.size}"%></p>
<% end %>


