<body>
    <div class="background">
        <%= image_tag("yeezy.jpg", id:"splash-img") %>
        <div class="box-1">
            <p>Buy and Sell Authentic Sneakers</p>
        </div>

        <div class="box-2">
            <p>Yeezy Boost 350 V2 'Oreo'</p>
        </div>
    </div>
</body>






