/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

    h2 {
        text-align: center;
        font-family: 'Sen', sans-serif;
        font-style: italic;
        padding: 20px;
    }

    .container {
        min-width:100vw;
    }


    .link-to-text-color{
        flex-wrap: flex;
        margin-left: 50px;
        color:black;   
    }

    .dropdown-toggle {
        color:black;
    }


    nav {
        margin-top: 20px;
    }

    .dropdown {
        padding-left: 50px;
        padding-right: 50px;
    }
  
    .card {
            text-align:center;
            min-width:24%;
            align-content: space-between;
            margin:auto;
            margin-bottom: 50px;
            border:none;
            
            .image {
                padding-top:20px;
            }
            
    }

    .logo {
       
        height:50px;
        padding-right:50px;
    }

    .background {
        position:relative;
    }

    #splash-img {
       width:80vw;
       height:90vh;
       margin:auto;
       display: block;
       padding-top:10px;
    }
    
    .box-1 {
            position: absolute;
            top:70px;
            left:30px;
            background-color: rgba(0, 0, 0, 0.404);
            color: white;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 1%;

            p{
                font-size: 2.5rem;
                font-family: 'Sen', sans-serif;
                font-style: italic;
            }
          }
    
    .box-2 {
        position: absolute;
        bottom:70px;
        right:100px;
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;

        p{
            font-size: 1rem;
            font-family: 'Sen', sans-serif;
            font-style: italic;
        }

    }

    .box-3 {
        position: absolute;
        top:30%;
        left:50px;
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;

            p{
                font-size: 1.5rem;
                font-family: 'Sen', sans-serif;
                font-style: italic;
                
            }
          }
    

    #sale-page,#login-page {
        width:30vw;
        height:90vh;
        margin:auto;
        display: block;  
    }

    .sale-form {
        position: absolute;
        top:20px;
        left:44%;
        
        label {
            display: flex;
            flex-direction: row;
            line-height: 50px;
            font-size: 20px;
        }
    }

    .login-form {
        position: absolute;
        top:100px;
        left:44%;
        
        label {
            display: flex;
            flex-direction: row;
            line-height: 40px;
            font-size: 20px;
    }
}
    
    #submit {
        margin-top: 40px;
    }


    .d-block{
        width:80vw;
        height:90vh;
    }
    
   .image {
    width:30vw;
    height:60vh;
    margin-left: auto;
    margin-right:20%;
    display: block;
    padding-top:80px;
  }
  .content {
    position: absolute;
    top:22%;
    left:20%;
  }

.thumbnail-img {
      width:240px;
      height:220px;
  }

  #image-2 {
    width:80%;
    height:90%;
    margin:auto;
    display: block;
  }
  
  .link-to-text-color-2 {
      color:white;
  }

  .listing-items {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    padding:40px;
    
    p{
        font-size: 1rem;
        font-family: 'Sen', sans-serif;
        font-style: italic;
        text-align:center;
    }
  }

  #listing-wrapper {
      display:flex;
      flex-direction: row;

  }
  #listing-card {
      margin:50px;
  }


  

 




